@media (max-width: 600px) {
  .menu, .login {
    display: none;
  }

  .slide_bar_menu {
    width: 12.5%;
    display: block;
  }

  .line {
    height: auto;
  }

  .title_box_1 {
    font-size: 30px;
  }

  .sub {
    width: 95%;
    height: 200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    border: 1px solid seagreen;
    margin-bottom: 64px;
    border-radius: 10px;
  }

  .sub form {
    margin-top: 20px;
  }

  .sub p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  .form-ctrol {
    width: 100%;
    padding: 15px;
    border: none;
    border: 1px dotted seagreen;
    margin: 0px auto;
  }

  .form-btn {
    width: 100%;
    background: #11C37C;
    padding: 15px;
    margin-left: 0.5px;
  }
  .policy-icon {
    width: 20%;
    font-size: 35px;
    padding-left: 25px;
  }
  .slideshow {
    height: 30vh;
  }
  .crd-heading{
    font-size: 30px;
  }
  /* .crd-text{

  } */
}

@media (min-width: 600px) and (max-width:768px) {
  .menu, .login {
    display: none;
  }

  .slide_bar_menu {
    width: 12.5%;
    display: block;
  }

  .line {
    height: auto;
  }
  
  .sub {
    width: 95%;
    height: 200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid seagreen;
    margin-bottom: 64px;
    border-radius: 10px;
  }

  .sub form {
    margin-top: 20px;
  }

  .sub p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  .form-ctrol {
    width: 100%;
    padding: 15px;
    border: none;
    border: 1px dotted seagreen;
    margin: 0px auto;
  }

  .form-btn {
    width: 100%;
    background: #11C37C;
    padding: 15px;
    margin-left: 0.5px;
  }
  
  .slideshow {
    height: 40vh;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .menu, .login {
    display: none;
  }

  .slide_bar_menu {
    width: 12.5%;
    display: block;
  }

  .line {
    height: auto;
  }
  
  .sub {
    width: 95%;
    height: 200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    border: 1px solid seagreen;
    margin-bottom: 64px;
    border-radius: 10px;
  }

  .sub form {
    margin-top: 20px;
  }

  .sub p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  .form-ctrol {
    width: 100%;
    padding: 15px;
    border: none;
    border: 1px dotted seagreen;
    margin: 0px auto;
  }

  .form-btn {
    width: 100%;
    background: #11C37C;
    padding: 15px;
    margin-left: 0.5px;
  }
  .slideshow {
    height: 40vh;
  }
}

@media(min-width: 992px) and (max-width: 1200px) {
  .menu, .login {
    display: block;
  }

  .slide_bar_menu {
    display: none;
  }

  .menu ul li {
    list-style: none;
    margin-right: 35px;
    font-size: 20px;
    line-height: 100px;
  }
  .sub p {
    text-align: center;
  }
  .slideshow {
    height: 60vh;
  }
}

@media only screen and (min-width: 1200px) {
  .menu, .login {
    display: block;
  }

  .slide_bar_menu {
    display: none;
  }
  .sub p {
    text-align: center;
  }
}