* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:Lemonada; */
}
body {
  font-family: "Poppins", Arial, sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #7A7FBA, #11C37C);
  border-radius: 10px;
  
}

body::-webkit-scrollbar-track {
  background-color: #7A7FBA;
}

#overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: #ccc;
  z-index: 10;
  opacity: 50%;
  display: none;
}

.header_pc {
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: seagreen;
  z-index: 99999999999999999999999999999999999999999999;
}

.slide_bar_menu {
  width: 5%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  z-index: 100;
}

.slide_bar_menu button {
  background: none;
  font-size: 30px;
  margin: 0;
}

.logo, .login {
  width: 250px;
  height: 100px;
}

.logo img {
  display: block;
  width: 70%;
  height: 100px;
  padding-left: 10px;
}

#search, #spc {
  background: none;
  padding: 10px;
  font-size: 14px;
}

#spc {
  margin-left: -13px;
}

.menu {
  width: 60%;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style: none;
  margin-right: 55px;
  font-size: 24px;
  line-height: 100px;
}

.login, .logo {
  text-align: center;
}

.login ul {
  display: flex;
}

.login ul li {
  line-height: 100px;
  list-style: none;
  margin-right: 10px;
}

.login ul li i {
  color: #fff;
}

.menu ul li a, .login ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  color: #fff;
}

.menu ul li a:hover, .login ul li a:hover {
  color: yellowgreen;
  text-decoration: underline;
}

.login ul li button {
  position: relative;
}

.login ul li button i:hover {
  color: #11C37C;
}

.menu_mob {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background: #fff;
  border: 1px solid seagreen;
  z-index: 1000000000000000000;
  text-align: center;
  display: none;
}

.close_mob {
  width: 100%;
  height: 50px;
}

.close_mob button {
  background: seagreen;
  border-radius: 0;
  position: absolute;
  right: -10px;
}

.list_menu, .control_login {
  display: flex;
  flex-direction: column;
}

.list_menu a, .list_menu .control_login a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dotted seagreen;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.list_menu a:hover {
  background: seagreen;
  border: 1px solid #fff;
  color: #fff;
}

.control_login {
  width: 100%;
  height: auto;
  /* margin-top: 315px; */
  position: absolute;
  bottom: 0;
}

.content {
  width: 100%;
  height: auto;
  /* margin-bottom: 150px; */
}

.line {
  width: 100%;
  height: 1000px;
  margin-bottom: 80px;
  animation: blurFadeInOut 5s backwards;
  z-index: 0;
}

.box_1 {
  width: 75%;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.title_box_1 {
  width: 80%;
  height: 50px;
  font-size: 35px;
  font-weight: bold;
  color: seagreen;
  line-height: 50px;
  margin: 0px auto;
  text-align: center;
}

.box_2 {
  width: 75%;
  height: auto;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

.product {
  width: 325px;
  height: 550px;
  border-radius: 10px;
  /* border: 1px dotted green; */
  margin-top: 50px;
  overflow: hidden;

}

.product:hover>.images_product>img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.images_product>img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.images_product {
  width: 100%;
  height: 350px;
}

.images_product img {
  width: 100%;
  border-radius: 10px;
}

.name_product {
  width: 100%;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.name_product a {
  text-decoration: none;
  color: #000;
}

.name_product a:hover {
  color: seagreen;
}

.cost_product {
  width: 100%;
  height: 70px;
  font-size: 30px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.control {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success:hover,
.success:focus {
  box-shadow: 0 0 20px 0 var(--hover);
  transform: translateY(-0.25em);
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 20px 0 var(--hover);
  transform: translateY(-0.25em);
}

.success, .btn {
  --color: #fff;
  --hover: seagreen;
}

button {
  color: var(--color);
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

code {
  color: #e4cb58;
  font: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

button {
  padding: 8px 4px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

button.success {
  background-color: rgb(0, 128, 0);
}

button.btn {
  background-color: rgb(0, 128, 0);
}

#toasts {
  position: fixed;
  bottom: -10px;
  right: -10px;
  display: flex;
  flex-direction: column;
  z-index: 1000000000000000000000000000000000000000;
}

.toast {
  width: 315px;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  animation: show_slide 1s ease forwards;
  display: flex;
  align-items: center;
  border-left: 6px solid;
}

.toast.success {
  background-color: darkgreen;
  border-color: rgb(0, 128, 0);
}

.toast i {
  font-size: 28px;
  color: white;
}

.toast .msg {
  padding: 0 20px;
  font-size: 16px;
  color: white;
}

.countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  animation: countdown 4s linear forwards;
}

.toast.success .countdown {
  background-color: rgb(0, 128, 0);
}

@keyframes countdown {
  20% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(120%);
  }
}

#chitiet {
  margin-right: 10px;
}
#chitiet, #addProduct {
  width: 120px;
  height: 50px;
  font-size: 12px;
  border-radius: 10px;
}
#chitiet:hover, #addProduct:hover  {
  background: #fff;
  color: seagreen;
  border-radius: 10px;
  border: 1px solid seagreen;
}
.option {
  width: 100%;
  height: 100px;
  text-align: center;
  margin: 0px auto;
  line-height: 100px;
  margin-top: 70px;
}

.option a button {
  width: 50%;
  height: 50px;
  background: seagreen;
  border-radius: 10px;
}

.option a button:hover {
  background: #fff;
  color: seagreen;
  border: 1px solid seagreen;
  font-weight: bold;
}

.article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn2 {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}

.btn2::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn2::after {
  transition: border 0.1s linear 0.05s;
}

.btn2 .btn2-inner {
  position: relative;
  z-index: 2;
}

.btn2:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}

.btn2:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn2:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 90vh;
  z-index: 1;
}

.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
  display: block;
}

.slideshow .slide.is-loaded {
  opacity: 1;
}

.slideshow .slide .caption {
  padding: 0 100px;
}

.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}

.slideshow .slide .image {
  width: 100%;
  height: 100%;
  display: block;
}

.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}

.slideshow .slide .btn2 {
  margin: 15px 0 0;
  border-color: #fff;
}

.slideshow .slide .btn2::before {
  background: #fff;
}

.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}

.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}

.slideshow .pagination .item+.page {
  margin-left: -2px;
}

.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}

.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}

.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}

.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}

.slideshow .arrows .prev {
  left: 30px;
}

.slideshow .arrows .prev:hover .svg {
  left: -10px;
}

.slideshow .arrows .next {
  right: 30px;
}

.slideshow .arrows .next:hover .svg {
  left: 10px;
}

.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

.slider {
  width: 100%;
  height: auto;
  margin-bottom: 64px;
}

.crd {
  margin: 1rem;
  position: relative;
  width: 34rem;
  height: 50rem;
  overflow: hidden;
}

.crd-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crd-info {
  color: hsl(0, 0%, 90%);
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.crd-heading {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .8;
  font-weight: 900;
}

.crd-text {
  font-size: 1.6rem;
  opacity: .6;
  padding-left: 1rem;
}

/* effect-1 */
.crd--effect-1 .crd-img {
  transform: scale(.9);
  transition: .4s;
}

.crd--effect-1:hover .crd-img {
  transform: scale(1);
}

/* effect-2 */
.crd--effect-2 .crd-info {
  top: 50%;
  left: 50%;
  bottom: unset;
  text-align: center;
  transform: translate(-50%, -50%);
}

.crd--effect-2 .crd-heading {
  transform: scale(2);
  opacity: 0;
  transition: .5s;
}

.crd--effect-2 .crd-text {
  padding-left: 0;
  transform: scale(1.2);
  opacity: 0;
  transition: .4s;
}

.crd--effect-2:hover .crd-heading {
  opacity: .8;
  transform: scale(1);
}

.crd--effect-2:hover .crd-text {
  opacity: .6;
  transform: scale(1);
}

/* effect-3 */
.crd--effect-3 .crd-heading {
  position: relative;
  color: hsla(0, 0%, 90%, .5);
}

.crd--effect-3 .crd-heading span {
  color: hsl(0, 0%, 90%);
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.4);
  transition: .5s;
}

.crd--effect-3:hover .crd-heading span {
  opacity: 1;
  transform: scale(1);
}

.crd--effect-3 .crd-info {
  text-align: right;
  right: 30px;
  left: unset;
}

.crd--effect-3 .crd-text {
  padding-left: 0;
  padding-right: 1rem;
}

.crd--effect-3 .crd-img {
  transition: .5s;
}

.crd--effect-3:hover .crd-img {
  transform: scale(.9);
}

/* effect-4 */
.crd--effect-4 {
  display: block;
  width: 100%;
  max-width: 80rem;
}

.crd--effect-4 .crd-img {
  transition: .8s;
}

.crd--effect-4:hover .crd-img {
  filter: saturate(0);
}

.crd--effect-4 .crd-heading {
  transition: .9s;
}

.crd--effect-4:hover .crd-heading {
  color: hsl(194, 93%, 52%);
}

/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .3);
  font-size: 16px;
}

.list_brand {
  width: 100%;
  height: auto;
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.list_brand a:hover>img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.list_brand img {
  width: 100px;
  height: auto;
  margin-top: 50px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}



ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.sub {
  width: 70%;
  height: 200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid seagreen;
  margin-bottom: 64px;
  border-radius: 10px;
}

.sub form {
  margin-top: 20px;
}

.sub p {
  font-size: 30px;
  font-weight: bold;
}

.form-ctrol {
  width: 500px;
  padding: 15px;
  border: none;
  border: 1px dotted seagreen;
}

.form-btn {
  background: #11C37C;
  padding: 15px;
  margin-left: -4px;
  border-radius: 0px 10px 10px 0px;
}
.form-btn:hover {
  background: #fff;
  border: 1px solid seagreen;
  border-radius: 10px;
  color: seagreen;
}

footer {
  width: 100%;
  height: auto;
  /* border:1px solid black ; */
}

.pg-footer a {
  color: #fff;
  text-decoration: none;
}
.pg-footer a:hover {
  color: yellowgreen;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}

.footer {
  background-color: #004658;
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #fff;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: yellowgreen;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #027b9a;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}





.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 300px;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:480px) and (max-width:599px) {

  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:600px) and (max-width: 800px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}


.policy {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 64px;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;

}

.policy-container {
  width: 477px;
  height: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}
.policy-icon {
  width: 20%;
  font-size: 35px;
  padding-left: 40px;
}
.policy-icon i {
  color: seagreen;
}
.policy-info {
  width: 80%;
}
.policy-info-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}